{% extends 'base.html.twig' %}

{% block title %}
    {{ 'hip-hop_dance'|trans }}
{% endblock %}

{% block body %}
    <div class="my-classes_header">
        <div class="head-image"></div>
        <h1 class="h-header"><a href="{{ url('main_page') }}">Szkoła Tańca <span>Neon</span></a></h1>
    </div>
    <div class="outer-box">
        <div class="dance-header hip-hop-img">
            <h1>Hip-hop</h1>
        </div>
        <h3>Kultura hip-hopu</h3>
        <p>
            Hip-hop - jako ruch kulturowy - narodził się w nowojorskiej dzielnicy Bronx,
            znanej również jako „Boogie Down”.
        </p>

        <p>
            Hip hop cechuje się charakterystyczną muzyką, ubiorem, sposobem wypowiadania się i w
            końcu tańcem. Został zapoczątkowany w nowojorskiej dzielnicy Bronx,
            znanej równiej jako „Boogie Down”. Boogie Down Bronx – przez wielu tak określana,
            łączy ze sobą funk, disco, rap i  sampling.
            Hip hop stał się globalnym trendem, a rozpoznawalność na całym świecie świadczy
            o jego bogatej historii i atrakcyjności.
        </p>
        <p>
            Termin „hip hop” odnosi się do kultury, jaka narodziła się w latach 70 XX wieku
            w dzielnicy Bronxu. Dzielnica charakteryzowała się różnorodnością etniczną.
            W skład młodzieży wchodzili Afroamerykanie, Portorykańczycy, Latynosi i Afro-Karaibowie.
            Hip hop został stworzony przez i dla nastolatków.
            Inspiracje czerpał ze współczesnego filmu, muzyki i tradycji kulturowych.
            Kluczowymi elementami hip-hopu była możliwość wyrażania siebie,
            wzajemny szacunek oraz oryginalność.
            Od strony tanecznej hip-hop charakteryzuje się energicznośćią, kreatywnością.
            Ethan Brown (krotko kto to) scharakteryzował pojawienie się hip-hopu jako część
            „demokracji na parkiecie”.
            Każdy, kto cechował się energią i stylem mógł wejść na parkiet i
            zdobyć uznanie i szacunek w oczach innych.
        </p>
        <p>
            Kulturę hip-hopową charakteryzuje kilka faz.
            Pierwsza faza trwała latach 70 i 80 XX wieku.
            Cechowała się przenikaniem światów tancerzy, graficiarzy i artystów
            na ulicznych imprezach, które odbywały się w dzielnicach Bronksu.
            Druga faza, zapoczątkowana w latach 80 XX wieku zapraszała ludzi
            spoza głównej dzielnicy. Odbywało się to dzięki rozprzestrzenieniu
            się popularnych singli rapowych w radiu. Ten rodzaj muzyki stał
            się popularny nawet wśród grup, które nie koniecznie wywodziły się z nowojorskiej
            dzielnicy, a więc które nie były obyte z tematami przewodnimi
            tego typu gatunku muzycznego.
        </p>
        <p>
            „Hip” z terminu „hip-hop” zaczął definiować rozwijającą się subkulturę jako coś „cool”,
            a ostatecznie hip hop sam stał się referencją do muzyki, tańca,
            ubioru i sposobu wypowiadania się. Kultura hip-hop czerpie
            z szeregu wpływów kultur afroamerykańskich i latynoskich.
            Przykładowo, innowacyjność i pasję w ruchach tanecznych,
            która cechowała b-boys i b-girls można było dostrzec w pokazach stepowania,
            a nawet w ruchach sztuki walki.
        </p>

        <h4>Flying Steps – połączenie hip-hopu i Bacha</h4>
        <p>
            Flying Steps to popularna niemiecka grupa tancerzy.
            Coś, co zdecydowanie ich wyróżnia to połączenie tańca – hip-hopu,
            z muzyką klasyczną. Występ ten kryje się pod nazwą „Red Bull Flying Bach”.
            Układy tej grupy tanecznej były choreografowane do „Well-Tempered Clavier”
            Johana Sebastiana Bacha. Dyrektor muzyczny spektaklu,
            Christopher Hagel skomentował sposób, w jaki taniec podkreślał muzykę:
            ,,Interesujące dla mnie było pokazanie – za pomocą tańca – fug Bacha
            (Bach fugues sprawdzić).
            Sam spektakl trwał 70 minut. Było to połączenie,
            wydawać by się mogło mało prawdopodobne, miejskich tancerzy oraz muzyki klasycznej.
            Spotkało się to jednak z bardzo dobrym odbiorem czego skutkiem była wyprzedana
            seria tego spekatklu.
        </p>

        <p>
            Hip hop jest to kultura uliczna rozpoznawana na całym świecie,
            a jej integralna część jaką jest taniec, zyskuje coraz to nowych uczestników.
        </p>





    </div>
{% endblock %}