{% extends 'base.html.twig' %}

{% block title %}
{{ 'modern_dance'|trans }}
{% endblock %}


{% block body %}
    <div class="my-classes_header">
        <div class="head-image"></div>
        <h1 class="h-header"><a href="{{ url('main_page') }}">Szkoła Tańca <span>Neon</span></a></h1>
    </div>

    <div class="outer-box">
    <div class="dance-header modern-dance-img">
        <h1>{{ 'modern_dance'|trans }}</h1>
    </div>
        <p>
            Modern dance narodził się w Ameryce na przełomie XIX I XX wieku. Powstał jako skutek buntu wielu choreografów i tancerzy przeciwko dwóm dominujących wówczas stylom tańca – baletowi i wodewilowi (sprawdzic co to)
        </p>

        <p>
            Za założycielkę amerykańskiego tańca nowoczesnego uznawana jest Isadora Duncan.
            Isadora była w dużej mierze samoukiem.
            Jej rewolucyjnym gestem było porzucenie baletowego gorsetu na rzecz tuniki,
            która uwolniła i odsłoniła ciało i ruch tancerki.
            Tańczyła na estradach i w teatrach operowych.
            Traktowała taniec jako sztukę, kładła nacisk na istotę ruchu.
            Jej taniec był ekspresyjny, wykonywała układy z wielką dynamiką, muzykalnością,
            a przy tym uwidaczniała się subtelność i charyzma.
            Isadora Duncan założyła swoją pierwszą szkołę tańca na obrzeżach Berlina,
            gdzie utworzyła swoją słynną grupę taneczną, znaną jako Isadorables.
        </p>
        <h4>Początki modern dance</h4>
        <p>
            W latach dwudziestych Amerykę ogarnęła pasja do tańca interpretacyjnego.
            Było to spowodowane występami między innymi Isadory Duncan.
            Pierwsza generacja, która była zachwycona poważnym tańcem teatralnym,
            zaczęło jeszcze bardziej rozwijać tę sztukę i stworzyło gatunek taneczny,
            który znamy dzisiaj.
            Do pierwszego pokolenia tańca nowoczesnego należeli Martha Graham czy Charles Weidman.
        </p>

        <h5>Martha Graham i Charles Weidman</h5>
        <p>
            Graham zdefiniowała nowy system ruchu, który nazwała skurczem i rozluźnieniem.
            Opierał się on na jej własnej interpretacji tego ruchu.
            Ta kontrola mięsni nadała twardy i kanciasty wygląd,
            który kontrastował z gładkimi ruchami ciała Isadory Duncan.
        </p>
        <p>
            Charles Weidman wniósł bardzo męskie podejście do tańca,
            które przyciągnęło innych tancerzy do tej formy sztuki.
            Wprowadził do tańca nowoczesnego swój własny styl, którego cechował dowcip.
        </p>
        <h4>Modern dance dzisiaj</h4>
        <p>
            Dzisiejszy taniec nowoczesny odróżnia się nieco od swoich początków.
            Jest bardziej wyrafinowany zarówno pod względem techniki, jak i technologii.
            Obecni pionierzy modern dance nie oddzielają się gwałtownie od baletu.
            Co więcej, umiejętność ruchów baletowych jest uznawana jako atut i dopełnienie
            do stylu nowoczesnego.
            Dzisiejszy taniec nowoczesny stał się fuzją wielu gatunków tanecznych.
            Do współczesnych pionierów tańca nowoczesnego należą m.in. Ohad Naharin, Shen Wei.
        </p>
        <h5>Ohad Naharin</h5>
        <p>
            Naharin jest choreografem, który wprowadził do tańca nowoczesnego wielką płynność.
            Efekt ten osiągnął poprzez zastosowanie bardzo elastycznych ruchów całego ciała.
            Jego styl cechuje się jako delikatny i witalny.
            Co ciekawe, jego tancerze pracują bez lustra, aby poczuć ruch od wewnątrz.
        </p>
        <h5>Shen Wei</h5>
        <p>
            Jest założycielem i dyrektorem Dance Arts.
            To choreograf, który łączy wiele dyscyplin artystycznych,
            aby stworzyć odważną i przykuwającą wzrok formę tańca.
            W jego układach zauważyć można ruchy, które zostały zaczerpnięte z akrobatyki,
            czy nawet ze sztuk walki. Jego choreografie były prezentowane na wielkich festiwalach
            na całym świecie. Został również zatrudniony jako jeden
            z głównych choreografów do ceremonii otwarcia Igrzysk Olimpijskich w Pekinie w 2008 roku.
            Shen Wei do każdego utworu tanecznego tworzy również scenografię i kostiumy.
            Cała charakteryzacja tworzy dopełnienie i uwydatnia piękno tańca nowoczesnego.
        </p>
    </div>
{% endblock %}