{% extends 'base.html.twig' %}

{% block title %}
{{ 'popping_dance'|trans }}
{% endblock %}


{% block body %}
    <div class="my-classes_header">
        <div class="head-image"></div>
        <h1 class="h-header"><a href="{{ url('main_page') }}">Szkoła Tańca <span>Neon</span></a></h1>
    </div>

    <div class="outer-box">
    <div class="dance-header popping-dance-img">
        <h1>{{ 'popping_dance'|trans }}</h1>
    </div>
        <p>
            Popping to styl, który został zainicjowany przez Sama Solomona w późnych latach 70 XX wieku.
            Cechą charakterystyczną tego stylu tańca jest tzw. „pop”,
            czyli szybkie napięcie i rozluźnienie mięśni.
            Pop obejmuje pracę ramion, klatki piersiowej, szyi i nóg.
            Popping jest tradycyjnie tańczony do muzyki funk.
        </p>
        <p>Popping swoją popularność zyskał za pośrednictwem hollywoodzkich filmów,
            które prezentowały umiejętności poppersów. Byli to m.in. Bruno „Pop N 'Taco” Falcon
            i Michael „Boogaloo Shrimp” Chambers.
            Na popularność tego stylu tańca przyczynił również Michael Jackson.
            Jego charakterystyczne ruchy były inspirowane poppingiem.
        </p>
        <p>
            Sam dostęp do nauki tego tańca był z początku ograniczony.
            Brytyjscy poppersi mówili, że początkowo możliwości zobaczenia
            na żywo tego stylu była mocno ograniczona.
            Tancerze podpatrywali kroków i ruchów na różnych festiwalach hip-hopowych.
            Jednak zobaczenie poppingu w jego czystej
            i surowej formie w latach 80, 90 czy nawet na początku 2000 było utrudnione.
        </p>
        <p>
            ????
            Artyści poppingowi połączyli swój styl taneczny z muzyką klasyczną.
            Popping jest opisywany jako styl, który rezonuje z tym gatunkiem muzycznym.
            Poppersi przenieśli swój styl również do teatru.
        </p>
        <p>
            Kluczowym elementem poppingu jest umiejętność przekazywania
            - za pomocą ciała - tego, co tancerz usłyszy.
            Dzięki temu widz może usłyszeć nowe schematy, rytmy i dźwięki, które występują w muzyce.
            Tancerz dzięki temu tworzy iluzję na tyle przekonującą,
            jakby to on generował dźwięk. Dźwięki, które są ujawniane i podkreślane przez poppersów
            nie byłyby zauważalne podczas zwykłego przesłuchania utworu muzycznego.
            Popping dzięki temu pokazuje nowe dźwięki poprzez tańczące ciało.
            Taki zabieg jest określany jako „surfowanie po dźwiękach”.
        </p>
    </div>
{% endblock %}