{% extends 'base.html.twig' %}

{% block title %}
{{ 'tap_dance'|trans }}
{% endblock %}

{% block body %}
<div class="my-classes_header">
    <div class="head-image"></div>
    <h1 class="h-header"><a href="{{ url('main_page') }}">Szkoła Tańca <span>Neon</span></a></h1>
</div>

<div class="outer-box">
    <div class="dance-header tap-dance-img">
{#        <h1>{{ 'tap_dance'|trans }}</h1>#}
        <h1>Stepowanie</h1>
    </div>
    <p>
        Stepowanie – tap dancing – można opisać jako styl tańca,
        w którym rytm i dźwięk wyróżnia się za pomocą uderzenia butem o podłoże.
        Historia o pierwszym stepowaniu sięga wydarzeń,
        które miały miejsce w pobliżu Frogmore w Południowej Karolinie w 1951 roku.
        Historia została zapisana przez historyków jazzu – Marshalla Stearnsa i Jeana Stearnsa,
        i dotyczyła dwóch młodych czarnoskórych mężczyzn.
        Stali oni do siebie twarzą w twarz, uderzając stopami do rytmu tarki do mycia.
        Później zostało to opisane jako „konkurs jigging”.
        Słowo „jig” oznaczało Irlandzki taniec ludowy i zostało zaadaptowane
        do amerykańskiego słownictwa, jako taniec „Negro”.
        Z czasem „jigging” zaczął ewoluować, włączając do siebie wariacje z innych tańców,
        takich jak: gioube, juba oraz właśnie stepowanie.
    </p>

    <p>
        Dla wielu stepowanie to nie tylko taniec, ale także sposób komunikacji, związek ludzi z różnych środowisk. Kluczem stepowania jest oglądanie i słuchanie. To poczucie wspólnoty i jedności. Tancerze spotykają się w klubach, sznurują buty, a następnie wydobywają z nich muzykalność.
    </p>

    <h4>Prekursorzy stepowania</h4>
    <h5>Clayton ,,Peg Leg” Bates</h5>
    <p>
        Urodził się w 1907 roku, dorastał w dzielnicy Południowej Karoliny,
        zamieszkałej głównie przez Afroamerykanów.
        Jednym ze wspomnień dzieciństwa Batesa było obserwowanie, jak jego rodzina spotykała się by odpocząć i potańczyć – rzucali sobie wyzwania stepując; ,,Stepowali, nawet o tym nie wiedząc.” To zaszczepiło w młodym Batesie chęć do tego stylu tanecznego. Młody chłopak, aby zarobić na garnitur, zaczął chodzić przed salon fryzjerski i tam stepował. Przeciwna temu była jego matka. Nazywała to tanecznymi wybrykami. Clayton Bates w wieku zaledwie 12 lat zdobył pracę w lokalnym młynie. To w tym miejscu taneczne życie Batesa wywróciło się do góry nogami. Został on ciężko ranny w wypadku z taśmociągiem, w wyniku którego została mu amputowana lewa noga. Bates nie pozwolil jednak, aby ta tragedia przeszkodziła mu w dążeniu do celu. Jego wujek stworzył dla niego drewnianą protezę. Tak wykreował się jego przydomek – „Peg Leg Bates”. Bates mówił o tym, jak jego noga zaprowadziła go w inny wymiar stepowania – ,,Gdybym zobaczył dwunożnego tancerza, wykonującego dany krok, skopiowałbym go. Zrobiłbym to jednak tylko z jedną nogą, co uczyniłoby ten krok zupełnie innym”. Bates dzięki protezie wykonanej z drewna, gumy i skóry mógł tworzyć dźwięki, których nie był w stanie wytworzyć żaden inny stepujący tancerz. Jego determinacja i talent zapewniły mu tytuł jednego z najlepszych rytmicznych tancerzy w historii stepowania.
    </p>

    <p>
        Historia Batesa jest dla wielu prawdziwą motywacją. Sam tancerz często powtarzał - ,,Życie oznacza – weź wszystko co masz i zrób z tym wszystko, co możesz, wkładając w to całe swoje serce”
    </p>

    <h5>John Bubbles</h5>
    <p>
        John Sublett, znany później jak Bubbles, urodził się w 1902 w stanie Kentucky. Od dziecka miał do czynienia ze sztuką teatralną. Z początku odkrywał swój talent w śpiewie. Sublett z czasem zaczął występować w akompaniamencie pianisty – Forda Lee Washingtona. Sublett przyjął pseudonim „Bubbles”, a Washington „Buck”. Głos Bubblesa jednak zaczął nie wytrzymywać wysokich tonów. Zaczął więc rozwijać swoje umiejętności w stepowaniu. Złożył on wizytę w słynnym klubie Hoofers, w którym odbywały się pokazy stepowania. Z początku musiał mierzyć się z krytyką. Stali bywalcy Hoofers’Club wyśmiewali jego taniec, mówiąc, że  „rani on podłogę”. Bubbles wykorzystał to jako motywację i zaczął poprawiać swoje umiejętności. Nie wiedział jeszcze, że na zawsze zmieni to styl stepowania. John Bubbles stworzył wariację stepowania za pomocą zmniejszenia tempa kroków. Tłumaczył to tym, że bardzo przeszkadzało mu moment, w którym publiczność przestawała klaskać - ,,Nienawidziłem, gdy bili brawo, potem przestawali, a potem znowu unosiły się brawa”. Tańczył on w zmieniających się tempach w taki sposób, że publiczność nie przestawała klaskać przez cały jego występ. Bubbles zasłynął również z kroku zwanego „drop heel”. Koncept ten był już znany, ale jego muzykalność i poczucie rytmu wzniosła ten ruch na wyższy poziom. John stał się autorytetem dla całej społeczności stepowania. Miał na swoim koncie niezliczone sukcesy jako solista, ale pozostał wierny Bucketowi aż do jego śmierci w 1995 roku. Buck i Bubbles przełamywali bariery rasowe przez blisko czterdzieści lat wspólnej kariery. Stali się pierwszym afroamerykańskim zespołem, który wystąpił na Broadwayu w Palace Theatre. Nakręcili kilkanaście filmów fabularnych, z których najbardziej znane są ,,A Song is Born” oraz ,,Cabin in the Sky i Varsity Show”. Buck i Bubbles stali się gwiazdami, łączac śpiew, taniec i czystą rozrywkę.
    </p>

    <h5>Bill “Bojangles” Robinson</h5>
    <p>
        Urodził się w 1878 roku w Richmong w Wirginii. Wniósł ogromne innowacje do stylu tanecznego jakim jest taniec stepowania. Robinson od najmłodszych lat wiedział, że potrafi tańczyć. Szybko stał się znany dzięki swojej gwiazdorskiej osobowości. Znał go sam Louis Amstrong, który patrząc na styl Robinsona opisywał go jako bardzo ostry, swoimi ruchami mógł przecinać papierowe kartki. Praca stóp Robinsona była również bardzo płynna. Przy wykonywaniu ruchów zwanych swing oraz ragtime utrzymywał on wyprostowaną pozycję ciała. Był to przykład na połączenie Afro-irlandzkiej fuzji z połączniem amerykańskiego stepowania. Jego wyczucia rytmu, kontrola i klarowność ruchu były prawdziwie podziwiane i docenianie. Niemniej jednak, jego znakiem rozpoznawalnym oraz przełomowym ruchem w świecie stepowania, był wymyślony przez niego ruch, który odbywał się na schodach. „Stair dance” powstał z marzenia sennego - ,,Śniłem o tym, że zostałem rycerzem. Tanecznym krokiem wszedłem po schodach, dosiadłem tronu i dostałem odznakę. Następnie również tanecznym krokiem zszedłem na dół”
    </p>
    <p>
        „Taniec schodowy” pierwszy raz ujrzał światło dziennie w 1918 roku,
        kiedy to Robinson chciał przywitać się z publicznością.
        Zaczął tańczyć schodząc w dół po schodach, zwrócony do widzów.
        Ta sceneria wymaga nienagannej techniki od tancerza.
        Ograniczona zostaje przestrzeń, w której tancerz może wykonywać swoje kroki.
        Robinson podkreślił tym swoje wypracowane do perfekcji ruchy.
        Sława do Robinsona przyszła dość późno.
        Zyskał rozgłos dopiero kiedy skończył sześćdziesiąt lat.
        Nigdy jednak nie odrzucał okazji do tańca, bez względu na to czy był to występ zarobkowy,
        czy charytatywny. Robinson wystąpił w filmie „The Little Colonel” w roli głównej.
        Pokazał tam swoją technikę tańczących schodów. Stał się jednym z nielicznych
        tak sławnych Afroamerykaninów. Bill Robinson w swojej książce „What the Eye Hears”
        opisał następująco historię Robinsona - ,,Osoba Robinsona pojawiła się we właściwym miejscu
        i czasie. Choć bardziej odpowiednim byłoby stwierdzenie –
        kiedy odpowiedni czas nadszedł, Bill już tam stał – w rytmowym kroku”.
    </p>
</div>
{% endblock %}