/*body {*/
/*    background: rgb(0,0,0);*/
/*    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,13,115,1) 98%, rgba(17,14,94,1) 100%);*/
/*}*/
h1.dance-h1 {
    margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.outer-box {
    max-width: 800px;
    margin: 0 auto;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(69, 17, 165, 0.21);
    -moz-box-shadow: 8px 8px 24px 0px rgba(69, 17, 165, 0.21);
    box-shadow: 8px 8px 24px 0px rgba(69, 17, 165, 0.21);
    font-family: 'Open Sans', sans-serif;

    /*background-color: #d39e00;*/
    /*padding: 20px 20px;*/
}

.dance-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    /*background-image: url("../images/hip-hop (1).png");*/

    /*background-image: url("../images/hip-hop (1).png");*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dance-header > h1 {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    /*line-height: 400px;*/
    color: #fff;
}

.outer-box > h3, .outer-box > h4{
    text-align: left;
    padding: 30px;
    color: #555;
}

.outer-box > h5 {
    text-align: center;
    font-style: italic;
    color: #555;
}

.outer-box > p {
    padding: 20px 30px;
    text-align: justify;
    color: #777;

    /*font-family: 'Open Sans', sans-serif;*/
    /*font-style: normal;*/
}
.hip-hop-img {
    background-image: url("../images/hip-hop (1).png");
}

.salsa-img {
    background-image: url("../images/salsa.png");
}

.tap-dance-img {
    background-image: url("../images/tap-dance.png");
}

.popping-dance-img {
    background-image: url("../images/popping.png");
}

.modern-dance-img {
    background-image: url("../images/modern.png");
}

.vogue-dance-img {
    background-image: url("../images/vogue.png");
}


/*dances - sign_view*/
.dances-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.dance-card {
    width: 30%;
    margin: 30px 0;
    /*border-left: 3px solid #58a2de;*/
    /*border-bottom: 3px solid #58a2de;*/
    border-radius: 7%;
    overflow: hidden;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(69, 17, 165, 0.21);
    -moz-box-shadow: 8px 8px 24px 0px rgba(69, 17, 165, 0.21);
    box-shadow: 8px 8px 24px 0px rgba(69, 17, 165, 0.21);

    /*flex-shrink: 0;*/
}

.dance-card > h4 {
    color: #fff;
    text-align: center;
    padding: 15px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,13,115,1) 98%, rgba(17,14,94,1) 100%);
    border-bottom: 2px dotted deeppink;
}

.dance-card > p {
    /*padding-left: 15px;*/
    text-align: center;
    padding: 10px 0;
}

/*.dance-card > p > a {*/
/*    text-decoration: none;*/
/*    color: #041654;*/
/*}*/
.tags {
    text-decoration: none;
    color: #041654;
}

.tags:hover {
    color: #153cc7;

}

.dance-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dance-btn> button {
    position: relative;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border-radius: 10%;
    overflow: hidden;
}

.dance-btn > button > a {
    text-decoration: none;
    color: #000;
    /*z-index: 1;*/
}

.dance-btn > button::after {
    content: "";
    /*display: inline-block;*/
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,13,115,1) 98%, rgba(17,14,94,1) 100%);
    transition: .2s;
    z-index: -1;
    /*background-color: #000;*/
}

.dance-btn > button:hover::after {
    top: 0;
    left: 0;
    /*z-index: -1;*/
    /*z-index: 0;*/
}

.dance-btn > button:hover a {
    color: #fff;
    /*z-index: 1;*/
}

.pagination-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button_back {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
}

.button_back > a {
    color: #777;
    text-decoration: none;
    transition: .2s;
}

.button_back > a:hover {
    color: #555;

}

@media (max-width: 600px) {
    .dance-card {
        width: 45%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 411px) {
    h1.dance-h1 {
        font-size: 25px;
    }

    .dances-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dance-card {
        width: 70%;
        margin: 30px 0;
    }

    .dance-card > h4 {
        font-size: 20px;
    }
}
