/*html, body {*/
/*    height: 100%;*/
/*    background: rgb(0,0,0);*/
/*    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,13,115,1) 98%, rgba(17,14,94,1) 100%);*/

/*}*/
.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*height: 1200px;*/
    /*height: 500px;*/
    /*width: 1200px;*/
    width: 100%;
    padding: 30px 30px;
    /*margin: 20px auto;*/
    margin: 0 auto;
    /*background: rgb(0,0,0);*/
    /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(13,13,115,1) 98%, rgba(17,14,94,1) 100%);*/
    /*filter: blur(8px);*/
}

.login-img-container {
    background-image: url("../images/main_1 (2).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 480px;
    border-radius: 10%;
    border-right: 5px solid #0022a9;
}
.login-img-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(0, 34, 169, 0.25);
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding-top: 30px;*/
    padding: 30px;
    /*background-color: pink;*/
    width: 480px;
    height: 480px;
    /*margin: 0 auto;*/
    /*border-radius: 70%;*/
    border-right: 1px solid #060664;
}
/*.h-box {*/
/*    height: 4;*/
/*}*/
h1.h-form {
    text-align: center;
    color: #777;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    /*line-height: 400px;*/
}

h1.h-form:first-letter {
    color: #0022a9;
}

.form-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 7%;
    /*text-align: center;*/
}

/*.form-text-container {*/
/*    line-height: 400px;*/
/*    !*padding-right: 20px;*!*/
/*}*/

.form-login-container {
    /*width: 500px;*/
    /*margin: 0 auto;*/
    padding-left: 20px;
    /*color: #fff;*/
    /*border-left: 3px dotted deeppink;*/
    height: 438px;
}

.info-register {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;

}

p.account-click {
    padding-left: 20px;
    margin-top: 30px;
    color: #777;
    /*line-height: 438px;*/
}

a.account {
    text-decoration: none;
    color: #0022a9;
    /*color: #fff;*/
    font-weight: bolder;
    transition: .2s;
}

a.account:hover  {
    color: #58a2de;
    /*color: deeppink;*/
}


/*.form-text-container > p {*/
/*    font-size: 20px;*/
/*}*/

/*////////////*/
.register-container {
    /*margin-top: 20px;*/
    /*width: 1500px;*/
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-container-2 {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    width: 480px;
    height: 480px;
    padding: 30px;
    border-left: 1px solid #060664;



}

.register-img-container {
    background-image: url("../images/main_1 (2).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 480px;
    border-radius: 10%;
    border-left: 5px solid #0022a9;


}

.register-img-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(0, 34, 169, 0.25);

}

@media (max-width: 768px) {
    h1.h-form {
        font-size: 30px;
        /*line-height: 400px;*/
    }

    .form-register-container {
        font-size: 15px;
    }

    .login-img-container, .register-img-container {
        width: 350px;
        height: 400px;
    }

    .form-container, .form-container-2 {
        width: 400px;
        height: 400px;
    }
}


@media (max-width: 600px) {
    .login-img-container, .register-img-container {
        width: 280px;
        height: 350px;
    }

    .form-container, .form-container-2 {
        width: 350px;
        height: 350px;
    }

    .form-register-container {
        font-size: 13px;
    }
    /*.col-sm-2 {*/
    /*    flex: none;*/
    /*    width: 100%;*/
    /*}*/
}

@media (max-width: 411px) {
    .login-container, .register-container {
        display: block;
        /*flex-direction: column;*/
    }

    .form-container, .form-container-2 {
        display: block;
        margin-top: 20px;

    }

    .form-container-2 {
        margin: 20px auto;
    }

    .login-img-container, .register-img-container {
        display: none;
        /*width: 100%;*/
        /*height: 200px;*/
        /*margin: 0 auto;*/
        /*border-radius: 5%;*/
    }
    .form-login-container {
        height: 250px;
    }

    .form-login-container {
        font-size: 12px;
    }

    h1.h-form {
        font-size: 24px;
        /*line-height: 400px;*/
    }

    .info-register {
        padding-bottom: 20px;
    }
    /*.form-container {*/
    /*    !*width: 150px;*!*/
    /*    width: 100%;*/
    /*    height: 150px;*/
    /*}*/


}


